@page "/"

<PageTitle>Index</PageTitle>


    <RoleCheck>

        <h1>Hello, world!</h1>

        Welcome to your new app.

        <TestMessage></TestMessage>

        <TestMessage2></TestMessage2>


    </RoleCheck>



